apiVersion: 1

contactPoints:
  - orgId: 1
    name: telegram-notifications
    receivers:
      - uid: telegram-notifications
        type: telegram
        settings:
          bottoken: ${TELEGRAM_BOT_TOKEN}
          chatid: "${TELEGRAM_CHAT_ID}"
          disable_notification: false
          protect_content: false
        disableResolveMessage: false
